Cinematography/Oshmirto/Oshmirto/oshmirto.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           xmlns="http://liquidnarrative.csc.ncsu.edu/oshmirto/v0.1" 
           xmlns:tns="http://liquidnarrative.csc.ncsu.edu/oshmirto/v0.1" 
           targetNamespace="http://liquidnarrative.csc.ncsu.edu/oshmirto/v0.1" >
  <xs:simpleType name="lens">
    <xs:restriction base="xs:string" >
      <xs:enumeration value="12mm" />
      <xs:enumeration value="14mm" />
      <xs:enumeration value="16mm" />
      <xs:enumeration value="18mm" />
      <xs:enumeration value="21mm" />
      <xs:enumeration value="25mm" />
      <xs:enumeration value="27mm" />
      <xs:enumeration value="32mm" />
      <xs:enumeration value="35mm" />
      <xs:enumeration value="40mm" />
      <xs:enumeration value="50mm" />
      <xs:enumeration value="65mm" />
      <xs:enumeration value="75mm" />
      <xs:enumeration value="100mm" />
      <xs:enumeration value="135mm" />
      <xs:enumeration value="150mm" />
      <xs:enumeration value="180mm" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="f-stop">
    <xs:restriction base="xs:string" >
      <xs:enumeration value="1.4" />
      <xs:enumeration value="2" />
      <xs:enumeration value="2.8" />
      <xs:enumeration value="4" />
      <xs:enumeration value="5.6" />
      <xs:enumeration value="8" />
      <xs:enumeration value="11" />
      <xs:enumeration value="16" />
      <xs:enumeration value="22" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CameraMovementType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Dolly" />
      <xs:enumeration value="Crane" />
      <xs:enumeration value="Pan" />
      <xs:enumeration value="Tilt" />
      <xs:enumeration value="Focus" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="framingType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="" />
      <xs:enumeration value="ExtremeCloseUp" />
      <xs:enumeration value="CloseUp" />
      <xs:enumeration value="Waist" />
      <xs:enumeration value="Full" />
      <xs:enumeration value="Long" />
      <xs:enumeration value="ExtremeLong" />
      <xs:enumeration value="ExtremeLongLong" />
      <xs:enumeration value="Angle" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="angleSetting">
    <xs:restriction base="xs:string">
      <xs:enumeration value="High" />
      <xs:enumeration value="Medium" />
      <xs:enumeration value="Low" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Heading">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Toward"/>
      <xs:enumeration value="Away" />
      <xs:enumeration value="Right" />
      <xs:enumeration value="Left"/>
    </xs:restriction>    
  </xs:simpleType>
  
  
  <xs:complexType name="CameraPlan">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="blocks" type="ArrayOfBlock" />
    </xs:sequence>
    <xs:attribute name="Version" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="ArrayOfBlock">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="block" nillable="false" type="Block" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Block">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="shotFragments" type="ArrayOfShotFragment" />
    </xs:sequence>
    <xs:attribute name="storyTime" type="xs:string" use="optional"/>
  </xs:complexType>
  <xs:complexType name="ArrayOfShotFragment">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="unbounded" name="shotFragment" nillable="false" type="ShotFragment" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ShotFragment">
    <xs:all>
      <xs:element minOccurs="1" maxOccurs="1" name="framings" type="ArrayOfFraming" />
      <xs:element minOccurs="1" maxOccurs="1" name="movements" type="ArrayOfCameraMovement" />
      <xs:element minOccurs="0" maxOccurs="1" name="angle" type="Angle"/>
      <xs:element minOccurs="0" maxOccurs="1" name="direction" type="Direction"/>
    </xs:all>
    <xs:attribute name="anchor" type="xs:string" />
    <xs:attribute name="height" type="xs:string" />
    <xs:attribute name="pan" type="xs:string" />
    <xs:attribute name="duration" type="xs:unsignedInt" use="required"/>
    <xs:attribute name="lens" type="lens" use="optional" default="35mm"/>
    <xs:attribute name="f-stop" type="f-stop" use="optional" default="22" />
    <xs:attribute name="focus" type="xs:string" />
    <xs:attribute name="shake" type="xs:float" use="optional" default="0"/>
  </xs:complexType>
  <xs:complexType name="ArrayOfFraming">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="framing" nillable="false" type="Framing" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Framing">
    <xs:attribute name="framingType" type="framingType" use="required" />
    <xs:attribute name="framingTarget" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="Direction">
    <xs:attribute name="heading" type="Heading" use="required"/>
    <xs:attribute name="target" type="xs:string" use ="required"/>
  </xs:complexType>
  
  <xs:complexType name="Angle">
    <xs:attribute name="target" type="xs:string" use="required" />    
    <xs:attribute name="angleSetting" type="angleSetting" use="required"/>
  </xs:complexType>
  
  <xs:complexType name="ArrayOfCameraMovement">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="movement" nillable="false" type="CameraMovement" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CameraMovement">
    <xs:attribute name="type" type="CameraMovementType" use="required" />
    <xs:attribute name="directive" type="CameraMovementDirective" use="required" />
    <xs:attribute name="subject" type="xs:string" use="required"/>
  </xs:complexType>
  <xs:simpleType name="CameraMovementDirective">
    <xs:restriction base="xs:string">
      <xs:enumeration value="With" />
      <xs:enumeration value="To" />
    </xs:restriction>
  </xs:simpleType>
  
  <xs:element name="cameraPlan" nillable="false" type="CameraPlan" />
</xs:schema>